In [3]:
import pandas as pd
from faker import Faker
import random
import numpy as np

# Initialize Faker
fake = Faker()

# Function to generate a single student's data
def generate_student_data(student_id):
    total_marks = random.randint(300, 500)
    student_data = {
        'id': student_id,
        'StudentName': fake.name() if random.random() > 0.05 else None,  # 5% chance of missing name
        'City': fake.city() if random.random() > 0.1 else None,  # 10% chance of missing city
        'TotalMarks': total_marks,
        'MathsMarks': random.randint(50, 100) if random.random() > 0.05 else None,  # 5% chance of missing maths marks
        'ScienceMarks': random.randint(50, 100) if random.random() > 0.05 else None,  # 5% chance of missing science marks
        'AI_Marks': random.randint(50, 100) if random.random() > 0.05 else None,  # 5% chance of missing AI marks
        'ML_Marks': random.randint(50, 100) if random.random() > 0.05 else None,  # 5% chance of missing ML marks
        'DL_Marks': random.randint(50, 100) if random.random() > 0.05 else None,  # 5% chance of missing DL marks
        'Percentage': None  # We'll calculate this later
    }
    return student_data

# Generate data for 200 students
students_data = [generate_student_data(student_id) for student_id in range(1, 201)]

# Create a DataFrame
df = pd.DataFrame(students_data)

# Calculate the Percentage column
def calculate_percentage(row):
    marks = [row['MathsMarks'], row['ScienceMarks'], row['AI_Marks'], row['ML_Marks'], row['DL_Marks']]
    valid_marks = [mark for mark in marks if mark is not None]
    if valid_marks:
        total = sum(valid_marks)
        return round((total / (len(valid_marks) * 100)) * 100, 2)
    else:
        return None

df['Percentage'] = df.apply(calculate_percentage, axis=1)

# Introduce some missing values in Percentage
for _ in range(10):  # Add 10 missing values
    df.loc[random.randint(0, 199), 'Percentage'] = None

# Save to CSV file
df.to_csv('students_data_with_missing_values.csv', index=False)

# Display the first few rows
print(df.head())

   id       StudentName              City  TotalMarks  MathsMarks  \
0   1      Bobby Jacobs  East Johnborough         396        84.0
1   2      Jon Gonzalez        Ernestside         332         NaN
2   3  Mr. Daniel Hicks       Powellmouth         392        81.0
3   4        Derek Kent          Hesstown         448        74.0
4   5      Megan Mclean         New Cathy         396        74.0

   ScienceMarks  AI_Marks  ML_Marks  DL_Marks  Percentage
0          98.0      60.0      64.0      93.0        79.8
1           NaN      97.0      52.0       NaN         NaN
2          89.0      66.0      56.0      57.0         NaN
3          73.0      52.0      65.0      70.0        66.8
4          78.0      66.0      62.0      55.0        67.0

In [4]:
df.head()

,id,StudentName,City,TotalMarks,MathsMarks,ScienceMarks,AI_Marks,ML_Marks,DL_Marks,Percentage
0,1,Bobby Jacobs,East Johnborough,396,84.0,98.0,60.0,64.0,93.0,79.8
1,2,Jon Gonzalez,Ernestside,332,NaN,NaN,97.0,52.0,NaN,NaN
2,3,Mr. Daniel Hicks,Powellmouth,392,81.0,89.0,66.0,56.0,57.0,NaN
3,4,Derek Kent,Hesstown,448,74.0,73.0,52.0,65.0,70.0,66.8
4,5,Megan Mclean,New Cathy,396,74.0,78.0,66.0,62.0,55.0,67.0

In [6]:
df.isnull().sum()

id               0
StudentName     13
City            19
TotalMarks       0
MathsMarks      12
ScienceMarks    10
AI_Marks        13
ML_Marks        12
DL_Marks        12
Percentage      62
dtype: int64

In [11]:
df["StudentName"].isna().value_counts()

StudentName
False    187
True      13
Name: count, dtype: int64

In [13]:
print(df["StudentName"].to_string())

0              Bobby Jacobs
1              Jon Gonzalez
2          Mr. Daniel Hicks
3                Derek Kent
4              Megan Mclean
5             Samuel Powell
6             Timothy Brown
7         Danielle Robinson
8          Stephanie Wilson
9            Caitlyn Brewer
10         Stephanie Dorsey
11          Michelle Burton
12              Gary Miller
13                Eric Mack
14              Paula Jones
15       Francisco Espinoza
16         Jennifer Mcclure
17           Selena Perkins
18                     None
19             Colin Duncan
20          Courtney Powell
21          Christian Banks
22            Joseph Walker
23            Kimberly Cruz
24                     None
25        Melinda Rodriguez
26             David Nelson
27              David Walsh
28         Kimberly Johnson
29            Michael Davis
30             Joshua Scott
31             Robert Moore
32      Christopher Hoffman
33          Michael Sweeney
34            Kyle Benjamin
35           Austin Shaffer
36         Gabriella Reeves
37           Rachel Johnson
38              Kevin Moses
39            Mary Williams
40                Amy Myers
41                     None
42          Amanda Gonzalez
43          Megan Stevenson
44         Victoria Montoya
45           Jeanette Jones
46           Michelle Perez
47         Sandra Rodriguez
48          Willie Stephens
49           Matthew Nelson
50        Robert Farley III
51            Kiara Jackson
52          Cynthia Hopkins
53             Adrian Price
54            Michael Clark
55        Jennifer Buchanan
56            Jason Jenkins
57       Francisco Buchanan
58           Andrea Wheeler
59                     None
60             Leslie Klein
61              Dana Sexton
62             Donald Mason
63        Melinda Blanchard
64             Emma Jimenez
65            Colton Brewer
66             Holly Mendez
67        Brianna Macdonald
68             David Graham
69         Thomas Hernandez
70            Autumn Mendez
71          Nicholas Becker
72                 Ana Sims
73              Brian Black
74               James Roth
75              Randy Irwin
76                     None
77                Lisa Cruz
78            Gina Townsend
79      Jacqueline Carrillo
80               Holly Choi
81             Leslie Pitts
82            Julia Wilkins
83           Rebecca Bailey
84              Henry Brown
85        Michael Schneider
86           Monica Delgado
87             Dawn Johnson
88      Benjamin Richardson
89            Kelsey Torres
90          Nicole Gonzalez
91            Matthew Cohen
92            Lori Mckinney
93              Emma Torres
94             Connie Mckay
95                     None
96                     None
97            Robert Berger
98                     None
99           Tiffany Vargas
100           Diana Solomon
101       William Rodriguez
102              Dawn Brown
103           Eileen Wilson
104           Regina Powell
105         Anthony Chapman
106            Edward Smith
107          Karen Carrillo
108            Justin Carey
109             Lucas Stone
110         Frederick Stone
111              Brent Hill
112        Patricia Jackson
113             Jesus Smith
114             Paul Thomas
115             Natalie Day
116           Melissa Smith
117        Jacqueline Brown
118            Scott Nguyen
119            Gary Morales
120        Jennifer Kennedy
121            Laura Conner
122       Mr. Hector Little
123     Christopher Hartman
124                    None
125       Frances Patterson
126        Timothy Williams
127                    None
128              Karen Bird
129            Timothy Wood
130            Ronald Moran
131              Jill Poole
132         Andrea Cardenas
133            Julie Murray
134              Laura Lang
135              Ana Martin
136           Jennifer King
137         Alexander White
138            Neil Mullins
139                    None
140            Glenn Garcia
141            Kimberly Lee
142           Melissa Perez
143            Cathy Peters
144             Mark Turner
145           Amanda Spears
146        Michael Gonzalez
147            Caleb Ingram
148          Courtney Perez
149         Allison Nichols
150           Tyler Salazar
151            Amy Sullivan
152               Gina Good
153          Linda Copeland
154           Matthew Brown
155             Laura Owens
156            Cynthia King
157         Joshua Anderson
158             Laura Hardy
159            Shaun Jacobs
160          Sharon Camacho
161            Kim Campbell
162    Kathleen Blankenship
163           Cassidy Berry
164          Steven Wheeler
165             Sean Jacobs
166             Ryan Murray
167        Elizabeth Gibson
168           Chelsea Smith
169           Haley Camacho
170          Karen Mitchell
171        Christian Little
172           Derek Rodgers
173          Benjamin Jones
174            Laura Warren
175           Laura Pacheco
176         Jessica Collins
177            Eric Vazquez
178               Eric Vang
179          Nathaniel Hall
180           Sheila Rivera
181         Jesse Carpenter
182           Antonio Eaton
183          Russell Greene
184         Timothy Miranda
185            Dorothy Diaz
186        Audrey Mccormick
187           Steven Nguyen
188             Dana Howard
189              Keith Rose
190         Sarah Gutierrez
191           Monique Sharp
192          Jennifer Perez
193                    None
194          Holly Sandoval
195            Nicole James
196              Lisa Davis
197                    None
198          Rebecca Morris
199          Austin Herrera

In [14]:
df["StudentName"]=df["StudentName"].replace(np.nan,"Not Registered")

In [18]:
print(df["StudentName"].to_string())

0              Bobby Jacobs
1              Jon Gonzalez
2          Mr. Daniel Hicks
3                Derek Kent
4              Megan Mclean
5             Samuel Powell
6             Timothy Brown
7         Danielle Robinson
8          Stephanie Wilson
9            Caitlyn Brewer
10         Stephanie Dorsey
11          Michelle Burton
12              Gary Miller
13                Eric Mack
14              Paula Jones
15       Francisco Espinoza
16         Jennifer Mcclure
17           Selena Perkins
18           Not Registered
19             Colin Duncan
20          Courtney Powell
21          Christian Banks
22            Joseph Walker
23            Kimberly Cruz
24           Not Registered
25        Melinda Rodriguez
26             David Nelson
27              David Walsh
28         Kimberly Johnson
29            Michael Davis
30             Joshua Scott
31             Robert Moore
32      Christopher Hoffman
33          Michael Sweeney
34            Kyle Benjamin
35           Austin Shaffer
36         Gabriella Reeves
37           Rachel Johnson
38              Kevin Moses
39            Mary Williams
40                Amy Myers
41           Not Registered
42          Amanda Gonzalez
43          Megan Stevenson
44         Victoria Montoya
45           Jeanette Jones
46           Michelle Perez
47         Sandra Rodriguez
48          Willie Stephens
49           Matthew Nelson
50        Robert Farley III
51            Kiara Jackson
52          Cynthia Hopkins
53             Adrian Price
54            Michael Clark
55        Jennifer Buchanan
56            Jason Jenkins
57       Francisco Buchanan
58           Andrea Wheeler
59           Not Registered
60             Leslie Klein
61              Dana Sexton
62             Donald Mason
63        Melinda Blanchard
64             Emma Jimenez
65            Colton Brewer
66             Holly Mendez
67        Brianna Macdonald
68             David Graham
69         Thomas Hernandez
70            Autumn Mendez
71          Nicholas Becker
72                 Ana Sims
73              Brian Black
74               James Roth
75              Randy Irwin
76           Not Registered
77                Lisa Cruz
78            Gina Townsend
79      Jacqueline Carrillo
80               Holly Choi
81             Leslie Pitts
82            Julia Wilkins
83           Rebecca Bailey
84              Henry Brown
85        Michael Schneider
86           Monica Delgado
87             Dawn Johnson
88      Benjamin Richardson
89            Kelsey Torres
90          Nicole Gonzalez
91            Matthew Cohen
92            Lori Mckinney
93              Emma Torres
94             Connie Mckay
95           Not Registered
96           Not Registered
97            Robert Berger
98           Not Registered
99           Tiffany Vargas
100           Diana Solomon
101       William Rodriguez
102              Dawn Brown
103           Eileen Wilson
104           Regina Powell
105         Anthony Chapman
106            Edward Smith
107          Karen Carrillo
108            Justin Carey
109             Lucas Stone
110         Frederick Stone
111              Brent Hill
112        Patricia Jackson
113             Jesus Smith
114             Paul Thomas
115             Natalie Day
116           Melissa Smith
117        Jacqueline Brown
118            Scott Nguyen
119            Gary Morales
120        Jennifer Kennedy
121            Laura Conner
122       Mr. Hector Little
123     Christopher Hartman
124          Not Registered
125       Frances Patterson
126        Timothy Williams
127          Not Registered
128              Karen Bird
129            Timothy Wood
130            Ronald Moran
131              Jill Poole
132         Andrea Cardenas
133            Julie Murray
134              Laura Lang
135              Ana Martin
136           Jennifer King
137         Alexander White
138            Neil Mullins
139          Not Registered
140            Glenn Garcia
141            Kimberly Lee
142           Melissa Perez
143            Cathy Peters
144             Mark Turner
145           Amanda Spears
146        Michael Gonzalez
147            Caleb Ingram
148          Courtney Perez
149         Allison Nichols
150           Tyler Salazar
151            Amy Sullivan
152               Gina Good
153          Linda Copeland
154           Matthew Brown
155             Laura Owens
156            Cynthia King
157         Joshua Anderson
158             Laura Hardy
159            Shaun Jacobs
160          Sharon Camacho
161            Kim Campbell
162    Kathleen Blankenship
163           Cassidy Berry
164          Steven Wheeler
165             Sean Jacobs
166             Ryan Murray
167        Elizabeth Gibson
168           Chelsea Smith
169           Haley Camacho
170          Karen Mitchell
171        Christian Little
172           Derek Rodgers
173          Benjamin Jones
174            Laura Warren
175           Laura Pacheco
176         Jessica Collins
177            Eric Vazquez
178               Eric Vang
179          Nathaniel Hall
180           Sheila Rivera
181         Jesse Carpenter
182           Antonio Eaton
183          Russell Greene
184         Timothy Miranda
185            Dorothy Diaz
186        Audrey Mccormick
187           Steven Nguyen
188             Dana Howard
189              Keith Rose
190         Sarah Gutierrez
191           Monique Sharp
192          Jennifer Perez
193          Not Registered
194          Holly Sandoval
195            Nicole James
196              Lisa Davis
197          Not Registered
198          Rebecca Morris
199          Austin Herrera

In [19]:
df.columns

Index(['id', 'StudentName', 'City', 'TotalMarks', 'MathsMarks', 'ScienceMarks',
       'AI_Marks', 'ML_Marks', 'DL_Marks', 'Percentage'],
      dtype='object')

In [20]:
df.isna().sum()

id               0
StudentName      0
City            19
TotalMarks       0
MathsMarks      12
ScienceMarks    10
AI_Marks        13
ML_Marks        12
DL_Marks        12
Percentage      62
dtype: int64

In [21]:
print(df["City"].to_string())

0          East Johnborough
1                Ernestside
2               Powellmouth
3                  Hesstown
4                 New Cathy
5                      None
6                      None
7               East Cassie
8               Josephburgh
9                 Hayshaven
10           North Benjamin
11                 Langfurt
12           West Chrisview
13               Davidville
14              Michaelfort
15              North Susan
16                Calebberg
17              Tristanbury
18              Kristinland
19             Lake Tiffany
20              Jessicabury
21                 Johnside
22                     None
23         New Jonathanstad
24      North Daniellehaven
25          Port Cherylberg
26               Bradleyton
27           Matthewchester
28             North Thomas
29         East Timothybury
30         West Theresatown
31                     None
32              Angelamouth
33               New Ashley
34             West Michael
35               Walkerside
36          South Stacybury
37                Myersland
38               Hansentown
39             Schwartzfurt
40        East Mckenziestad
41                Kentmouth
42              South Renee
43             North Denise
44             West Gabriel
45             Gonzalezland
46            Lake Jadeside
47             Williamsfurt
48                     None
49              New Richard
50            Mcdanielhaven
51        New Amandachester
52     Lake Victoriaborough
53                     None
54              Hoffmanfurt
55             East Anthony
56                Kevinport
57          Port Amberhaven
58           Pattersonville
59               Gainesfurt
60                West Kurt
61                Kellybury
62           South Carlfort
63             Stewartmouth
64         Lake Amandamouth
65         West Robertmouth
66             Mitchellberg
67            North Clinton
68              West Briana
69                     None
70                     None
71          North Reneeport
72                Cathyfurt
73               West Sarah
74            East Jeanfort
75            North Deborah
76                Whiteland
77                     None
78             Stevensburgh
79                 Paulstad
80               Shawnville
81           Port Sharonton
82                Davidberg
83               Joneshaven
84                Shawnside
85              Anthonystad
86         North Adrianstad
87            Port Lisastad
88       South Kimberlystad
89               Normanfort
90                 New Adam
91              Brandyhaven
92                 Lake Jim
93           West Duaneside
94            Harrisonburgh
95                     None
96                 Brettton
97              Oneillburgh
98               East Linda
99            Danielborough
100     North Shelbychester
101          North Annafort
102             South Amber
103                Garyview
104               Jacobbury
105              Newmanland
106          East Paulmouth
107              East Debra
108              West Colin
109              Reyesmouth
110      West Aliciachester
111      West Michelleshire
112            South Donald
113            Michellestad
114            Danielleside
115              Scottmouth
116               West Beth
117            Sanchezmouth
118       East Kimberlyview
119               North Ana
120              Scottmouth
121      South Benjamintown
122             Frazierview
123               West Lisa
124               New Stacy
125          Carpenterhaven
126              Susanshire
127              Shawnaside
128            Collinsburgh
129               Johnhaven
130          Richardchester
131               Joelhaven
132                    None
133               Jacobport
134               East Anna
135             North Scott
136                Johnland
137            Johnsonhaven
138       North Timothystad
139        North Dianamouth
140            Port Annfort
141           Jonathanburgh
142          South Johnview
143                    None
144           East Virginia
145                Roseview
146                Choistad
147               Brianport
148              Jamesshire
149                    None
150               Maryburgh
151         New Christopher
152                    None
153             Lake Daniel
154                 Maryton
155                    None
156           New Jamesside
157               Deanburgh
158               Olsonfort
159              Thomasfurt
160              West Logan
161            Port Michael
162                Codyfort
163              Martinfurt
164             East Thomas
165            Johnsonville
166             Carlosshire
167    West Jacquelineville
168            Lake Heather
169       North Michaelside
170                    None
171          Lake Alexander
172        Lake Deborahberg
173             Barbermouth
174       South Heatherland
175         Sullivanchester
176        Port Andreaville
177           North Kristin
178                    None
179                    None
180     West Timothychester
181           West Brittany
182        West Rebeccaland
183              Brownmouth
184            Port Vanessa
185              Thomasport
186            North Amanda
187              Michaelton
188      New Destinyborough
189            Andersonside
190            Andersonside
191                Lisastad
192                    None
193              Georgetown
194            Paulachester
195           Williamsville
196     South Kimberlyville
197            East Anthony
198               Lake Mark
199               Youngland